.add__icon {
  font-size: 1.625rem;
  position: relative;
  right: 2rem;
  bottom: 1.2rem;
  transition: all 1s;
}
.add__icon :hover {
  color: #1890ff;
}

.ant-form-item-control-input-content > button {
  position: relative;
}
